[Unit]
Description=FastAPI Tutorial Service
After=network.target postgresql.service

[Service]
Type=simple
User=root
WorkingDirectory={{ fastapi_app_dir }}
Environment="PATH={{ fastapi_python_venv }}/bin"
ExecStart={{ fastapi_python_venv }}/bin/uvicorn app.main:app --host {{ fastapi_app_host }} --port {{ fastapi_app_port }}
Restart=always

[Install]
WantedBy=multi-user.target