[Unit]
Description=FastAPI Tutorial Service
After=network.target postgresql.service

[Service]
Type=simple
User={{ fastapi_service_user | default('root') }}
WorkingDirectory={{ fastapi_app_path }}
Environment="PATH={{ fastapi_app_path }}/venv/bin"
ExecStart={{ fastapi_app_path }}/venv/bin/uvicorn app.main:app --host {{ fastapi_host | default('0.0.0.0') }} --port {{ fastapi_port | default(8000) }}
Restart=always

[Install]
WantedBy=multi-user.target